.single-line, .toolbar .header, .header-panel .header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[layout][horizontal],
[layout][vertical] {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

[layout][horizontal][inline],
[layout][vertical][inline] {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

[layout][horizontal] {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

[layout][horizontal][reverse] {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

[layout][vertical] {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

[layout][vertical][reverse] {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

[layout][wrap] {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

[layout][wrap-reverse] {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

[flex] {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

[vertical][layout] > [flex][auto-vertical] {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

[flex][auto] {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}

[flex][none] {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

[flex][one] {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

[flex][two] {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

[flex][three] {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

[flex][four] {
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}

[flex][five] {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}

[flex][six] {
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
}

[flex][seven] {
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}

[flex][eight] {
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
}

[flex][nine] {
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
}

[flex][ten] {
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
}

[flex][eleven] {
  -ms-flex: 11;
  -webkit-flex: 11;
  flex: 11;
}

[flex][twelve] {
  -ms-flex: 12;
  -webkit-flex: 12;
  flex: 12;
}

/* alignment in cross axis */
[layout][start] {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

[layout][center],
[layout][center-center] {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

[layout][end] {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/* alignment in main axis */
[layout][start-justified] {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

[layout][center-justified],
[layout][center-center] {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

[layout][end-justified] {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

[layout][around-justified] {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

[layout][justified] {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* self alignment */
[self-start] {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

[self-center] {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

[self-end] {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

[self-stretch] {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

/*******************************
          Other Layout
*******************************/
[block] {
  display: block;
}

/* ie support for hidden */
[hidden] {
  display: none !important;
}

[relative] {
  position: relative;
}

[fit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body[fullbleed] {
  margin: 0;
  height: 100vh;
}

/*******************************
            Other
*******************************/
[segment],
segment {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0.5em;
  padding: 1em;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 5px 5px;
}

.toolbar {
  display: block;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 64px;
  font-size: 1.3em;
  background-color: #CFD8DC;
}
.toolbar.animate {
  transition: height 0.18s ease-in;
}
.toolbar.medium-tall {
  height: 128px;
}
.toolbar.tall {
  height: 192px;
}
.toolbar .narrow {
  height: 56px;
}
.toolbar .narrow .toolbar-tools {
  height: 56px;
  padding: 0;
}
.toolbar .narrow.medium-tall {
  height: 112px;
}
.toolbar .narrow.tall {
  height: 168px;
}
.toolbar .middleBar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.toolbar.tall .middleBar {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.toolbar .bottomBar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.toolbar .toolbar-tools {
  /* make elements (e.g. buttons) respond to mouse/touch events */
  /* elements spacing */
  /* misc helpers */
}
.toolbar .toolbar-tools > *:not([disabled]) {
  pointer-events: auto;
}
.toolbar .toolbar-tools > * {
  margin: 0 8px;
}
.toolbar .toolbar-tools > .fit {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  margin: 0;
}
.toolbar .toolbar-tools > .indent {
  margin-left: 60px;
}

.toolbar-tools {
  position: relative;
  height: 64px;
  padding: 0 8px;
  pointer-events: none;
}

.header-panel {
  display: block;
  position: relative;
  height: 100%;
}
.header-panel .outerContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-panel .mainPanel {
  position: relative;
}
.header-panel .mainContainer {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.header-panel .dropShadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}
.header-panel .dropShadow.hidden {
  display: none;
}
.header-panel[mode=seamed] .dropShadow {
  display: none;
}
.header-panel[mode=scroll] .mainContainer {
  overflow: visible;
}
.header-panel[mode=scroll] .outerContainer {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.header-panel[mode=cover] .mainPanel {
  position: static;
}
.header-panel[mode=cover] .mainContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-panel[mode=cover] .dropShadow {
  position: static;
  width: 100%;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  position: relative;
  height: 24px;
  width: 24px;
}
.icon [fit] {
  height: 24px;
}
.icon i {
  font-size: 24px;
  line-height: 24px;
  display: block;
}

.icon-button {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-radius: 2px;
  padding: 7px;
  margin: 2px;
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;
}
.icon-button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
.icon-button.outline {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.icon-button:hover:not([disabled]) {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.icon-button.selected:not([disabled]) {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.icon-button:active:not([disabled]), .icon-button.selected:active:not([disabled]) {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.icon-button.dark-theme.outline {
  background-color: rgba(200, 200, 200, 0.05);
  box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.1);
}
.icon-button.dark-theme:hover {
  background-color: rgba(200, 200, 200, 0.05);
  box-shadow: 0 1px 0 0 rgba(200, 200, 200, 0.12), 0 0 0 1px rgba(200, 200, 200, 0.1);
}
.icon-button.dark-theme.selected {
  background-color: rgba(220, 220, 220, 0.05);
  box-shadow: inset 0 1px 0 0 rgba(200, 200, 200, 0.05), 0 0 0 1px rgba(200, 200, 200, 0.12);
}
.icon-button.dark-theme:active, .icon-button.dark-theme.selected:active {
  background-color: rgba(200, 200, 200, 0.05);
  box-shadow: inset 0 1px 0 0 rgba(200, 200, 200, 0.1), 0 0 0 1px rgba(200, 200, 200, 0.12);
}
.icon-button .icon {
  pointer-events: none;
}

/*# sourceMappingURL=md.css.map */
