{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-react-jsx"
  ],
}