{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": ["transform-runtime"]
    }
  }
}