bower_components
node_modules/*
!node_modules/polythene
!node_modules/polythene-demo
example/css/lib/*
example/js/lib/*
lib/font-iconic/material-design-iconic-font
.sass-cache
.sass-cache/*
.DS_Store
