bower_components
node_modules
external_modules
build
docs/src/app/docs
docs/src/app/lib
examples/src/app/lib
examples/src/app/app.css
lib/font-iconic/material-design-iconic-font
lib/svg/mdi
lib/svg/material-design-iconic-font
lib/deps
!lib/deps/README
.sass-cache
.sass-cache/*
.DS_Store
./src
lib/polythene/_material-design-colors.scss
