node_modules
external_modules
.jspm-hash
tmp
build
!*.es6.js
docs/src/app/docs
docs/src/lib
examples/src/lib
lib/font-iconic/material-design-iconic-font
lib/font-roboto/fonts
lib/deps/svg/mdi
lib/deps/svg/material-design-iconic-font
.sass-cache
.sass-cache/*
.DS_Store
./src
lib/theme/_material-design-colors.scss

lib/deps/material-colors/_colors.scss
