.module-toolbar {
    .toolbar {
        background-color: #80D8FF;
        /*color: #222;*/
    }
    .toolbar.dark-theme,
    .tabs.dark-theme {
        background-color: #263238;
        color: #fff;
    }
}