@import "../app/variables";

.module-ripple {
	.demo-button + .demo-button {
	    margin-left: 20px;
	}

	.demo-list.demo-bordered {
		background: none;
		max-width: 100%;

		.list-tile {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}
	}
	.demo-button .ripple.colored-ripple {
		color: green;
	}

	.p-block.dark-theme {
		background-color: #424242;
		color: #fff;
	}
}


@media (max-width: $media_mobile) {
	.module-ripple {
	    .toolbar {
	    	margin-left: -$margin;
	    	margin-right: -$margin;
	    }
	}
}
