@import url("https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic");

html, body {
    min-height: 100%;
    height: 100%;
}
body {
    font-family: 'RobotoDraft', arial, sans-serif;
    background: #eee;
    margin: 0;
}
h1 {
    margin: 20px 0 0 0;
    font-size: 2em;
    line-height: 1;
    padding: 0;

    span {
        font-weight: normal;
        color: #aaa;
        margin-left: .5em;
    }
}
h1, h2 {
    color: #37474F;
}
.app {
    height: 100%;
}
.header-panel.app-header {
    .toolbar:first-of-type {
        background-color: #00BFA5;
        font-size: 18px;
    }
}

.mainContainer {
    background-color: #eee;
}

.index {
    margin: 0;
    padding: 32px 0;
}
.index-list {
    width: 400px;
    margin: 0 auto;
}

.index-list {
    background-color: #fff;

    .icon.index-cirle-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #B0BEC5;

        svg path {
            fill: #fff;
        }
    }

    .icon.index-cirle-icon i {
        padding: 8px;
    }
    .list-tile-secondary {
        color: #757575;
    }
}
.p-block {
    margin: 24px 0;
    padding: 24px 20px;
}
.p-block-separate {
    margin-bottom: 24px;
}
.p-title-block {
    margin: 0 0 24px 0;
    padding: 24px 32px;
}
.p-block.p-inner-block {
    padding: 10px 0;
    margin: 0;
    font-size: 1.2em;
}
.p-block .p-block-header {
    font-weight: 500;
    margin: 24px 0;
    font-size: 24px;
    color: #333;
}
.p-nav-block {
    padding: 16px 32px;
    height: 68px;
    margin: 0 0 20px 0;
    background-color: #37474F;
    color: #fff;

    a.icon-button {
        color: #00E676; /* logo color */
    }
    a.icon-button {
        display: inline-block;
        width: 48px;
        height: 48px;
        padding: 12px;
        margin-left: -12px;
    }
    .p-title {
        font-weight: bold;
        margin-left: 20px;
        font-size: 1.2em;
    }
    .p-title span {
        font-weight: normal;
        opacity: .6;
        margin-left: .15em;
    }
    .p-version a,
    .p-version span {
        color: #fff;
        display: inline-block;
        font-size: 1em;
    }
    .p-version a + span,
    .p-version span + a {
        margin-left: 0.7em;
    }
    .p-version span {
        border-bottom: 2px solid rgba(255, 255, 255, .3);
    }
}
.p-block {
    background: #fff;
}
.p-large {
    line-height: inherit;
    font-size: 1.6em;
}
.mainContainer a {
    text-decoration: none;
    color: #1565C0;
}
.p-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.p-block ul li {
    margin: 0;
    padding: 0;
}
.p-block ul li + li {
    margin: .5em 0 0 0;
}
.p-block table {
    width: auto;
}
.p-block td {
    padding: .25em 2em .25em 0;
    border-bottom: 1px solid #eee;
}
.p-title-block a:link, .p-title-block a:visited {
    color: #1E88E5;
    text-decoration: none;
}

.p-block {
    .toolbar {
        background-color: #BBDEFB;
        /*color: #222;*/
        margin: 0 0 20px 0;
    }
    .toolbar.dark-theme {
        background-color: #263238;
        color: #fff;
    }
    .toolbar {
        margin: 10px 0 0 0;
    }
    .secondary {
    	color: #aaa;
    }
}
code {
    color: #795548;
}

.ribbon {
    $_deg: 45deg;
    background-color: #FF5722;
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: fixed;
    right: -50px;
    top: 40px;
    z-index: 2;
    /* 45 deg ccw rotation */
    -webkit-transform: rotate($_deg);
     -moz-transform: rotate($_deg);
      -ms-transform: rotate($_deg);
       -o-transform: rotate($_deg);
          transform: rotate($_deg);

    a {
        color: #fff;
        display: block;
        font: bold 81.25% 'arial', sans-serif;
        margin: 1px 0;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
    }
}