html, body {
	height: 100%;
}

body {
	font-family: 'RobotoDraft', sans-serif;
    background: #eee;
}

/*
body.demo-layout .tiles-container {
	margin: 0 0 20px 0;
	height: 250px;
	background: #ddd;
}

	body.demo-layout .tile {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #fff;
	}

body.demo-toolbar .toolbar {
	background-color: #CFA0E9;
	margin: 0 0 20px 0;
}

	body.demo-toolbar .toolbar.dark-theme {
		background-color: #7D25AC;
		color: #f1f1f1;
	}

body.demo-icon .demo-red {
	color: red;
}

	body.demo-icon-button .demo-toolbar {
		margin: 20px 0;
	}

	body.demo-icon-button .demo-toolbar.dark-theme {
		background-color: #303F9F;
		color: #C5CAE9;
		fill: #C5CAE9;
	}
*/




