@import "../../lib/polythene/theme/polythene/polythene";

.module-tabs {
	$_accentColor: #00bcd4;
	$_mobileWidth: 320px;

	.tabs {
		.tab.selected {
			color: $_accentColor;
		}
		.tabIndicator {
			background-color: $_accentColor;
		}
	}
	.tabArea {
		background-color: #FAFAFA;
		padding-top: 24px;

		&.hasToolbar {
			padding-top: 0;

			.demo-tabs.small {
				border-bottom: 0;
			}
		}

		&.small {
			width: $_mobileWidth;
		}
	}
	.demo-tabs.small {
		width: $_mobileWidth;
		border-bottom: 1px solid #D2D2D2;
		@include hairline("border-bottom");
	}

	.demo-tabs.fixedWidth {
		&.tabs:not(.small):not(.medium) .tab {
			min-width: 100px;
		}
	}

	.p-block .toolbar {
		$_accentColor: #FFFF8D;

		background: #00BCD4;
		color: #fff;

		.icon-button {
			color: #fff;
		}

		.tab.selected {
			color: #fff;
		}
		.tabIndicator {
			background-color: $_accentColor;
		}
	}
}

@media (max-width: 480px) {
	.module-tabs {
		.tabArea {
			margin: 0 -24px;
		}
	}
}