@import "../app/variables";
@import "../../lib/polythene/theme/polythene/polythene";

.module-tabs {
	$_accentColor: #00bcd4;

	.tabs {
		.tab.selected {
			color: $_accentColor;
		}
		.tabIndicator {
			background-color: $_accentColor;
		}
		&.dark-theme {
		    background-color: #263238;
		    color: #fff;
		}
	}

	.tabArea {
		background-color: #FAFAFA;
		padding-top: 24px;

		&.small {
			max-width: $list_width;
		}

		&.hasToolbar {
			.demo-tabs {
				border-bottom: 0;
			}
		}
	}

	.demo-tabs.small {
		max-width: $list_width;
		border-bottom: 1px solid #D2D2D2;
		@include hairline("border-bottom");
	}

	.demo-tabs.fixedWidth {
		&.tabs:not(.small):not(.medium) .tab {
			min-width: 100px;
		}
	}

	.p-block .toolbar {
		$_accentColor: #FFFF8D;

		background: #00BCD4;
		color: #fff;

		.icon-button {
			color: #fff;
		}

		.tab.selected {
			color: #fff;
		}
		.tabIndicator {
			background-color: $_accentColor;
		}
	}
}

@media (max-width: $media_tablet) {
	.module-tabs {
	    .p-block {
	        max-width: 480px;
			margin-left: auto;
			margin-right: auto;
	    }
	}
}

@media (max-width: $media_mobile) {
	.module-tabs {
	    .p-block {
	        max-width: $list_width;
			margin-left: auto;
			margin-right: auto;

			.tabArea {
				margin-left: -$margin;
				margin-right: -$margin;
			}
	    }
	}
}