.demo-cards {
	margin: -10px;
}
.demo-card {
	width: 400px;
	margin: 10px;
}
.demo-card + .demo-card {
	
}
.demo-card :not(.overlay.dark-theme) .button .button-content {
	color: #5C6BC0;
}

.demo-card:not(.small) .overlay .overlay-content {
	background-color: rgba(0,0,0,0.3);
}

.demo-card.small {
	width: 170px;
}
.demo-card.small .overlay {
	background: none;
}

a.demo-card:hover .image-dimmer,
.demo-card.on .image-dimmer {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,.6);
}

.demo-card.small .image-dimmer {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,.6);
}

.demo-card.extra-large {
	width: 360px;
}

.demo-card.custom {
	width: 344px;
}
.demo-card.custom.custom-travel .button .button-content {
	color: #5C6BC0;
}

.demo-card.custom-sand {
	background-color: #B89E58;
}

.demo-card.custom-sky {
	background-color: #227586;
}

.demo-card.custom-bucket {
	background-color: #871E6A;
}
