.test-theme-svg-1.pe-svg {
  line-height: 1
}

.test-theme-svg-1.pe-svg svg {
  width: inherit;
  height: inherit
}

.pe-dark-tone.test-theme-svg-1.pe-svg,.pe-dark-tone .test-theme-svg-1.pe-svg,.pe-dark-tone.test-theme-svg-1.pe-svg svg,.pe-dark-tone .test-theme-svg-1.pe-svg svg {
  color: inherit
}

.pe-dark-tone.test-theme-svg-1.pe-svg svg circle:not([fill=none]),.pe-dark-tone .test-theme-svg-1.pe-svg svg circle:not([fill=none]),.pe-dark-tone.test-theme-svg-1.pe-svg svg path:not([fill=none]),.pe-dark-tone .test-theme-svg-1.pe-svg svg path:not([fill=none]),.pe-dark-tone.test-theme-svg-1.pe-svg svg polygon:not([fill=none]),.pe-dark-tone .test-theme-svg-1.pe-svg svg polygon:not([fill=none]),.pe-dark-tone.test-theme-svg-1.pe-svg svg rect:not([fill=none]),.pe-dark-tone .test-theme-svg-1.pe-svg svg rect:not([fill=none]) {
  fill: orange
}

.pe-light-tone.test-theme-svg-1.pe-svg,.pe-light-tone .test-theme-svg-1.pe-svg,.pe-light-tone.test-theme-svg-1.pe-svg svg,.pe-light-tone .test-theme-svg-1.pe-svg svg,.test-theme-svg-1.pe-svg,.test-theme-svg-1.pe-svg svg {
  color: inherit
}

.pe-light-tone.test-theme-svg-1.pe-svg svg circle:not([fill=none]),.pe-light-tone .test-theme-svg-1.pe-svg svg circle:not([fill=none]),.pe-light-tone.test-theme-svg-1.pe-svg svg path:not([fill=none]),.pe-light-tone .test-theme-svg-1.pe-svg svg path:not([fill=none]),.pe-light-tone.test-theme-svg-1.pe-svg svg polygon:not([fill=none]),.pe-light-tone .test-theme-svg-1.pe-svg svg polygon:not([fill=none]),.pe-light-tone.test-theme-svg-1.pe-svg svg rect:not([fill=none]),.pe-light-tone .test-theme-svg-1.pe-svg svg rect:not([fill=none]),.test-theme-svg-1.pe-svg svg circle:not([fill=none]),.test-theme-svg-1.pe-svg svg path:not([fill=none]),.test-theme-svg-1.pe-svg svg polygon:not([fill=none]),.test-theme-svg-1.pe-svg svg rect:not([fill=none]) {
  fill: #0d47a1
}

.test-theme-svg-2.pe-svg {
  line-height: 1
}

.test-theme-svg-2.pe-svg svg {
  width: inherit;
  height: inherit
}

.pe-dark-tone.test-theme-svg-2.pe-svg,.pe-dark-tone .test-theme-svg-2.pe-svg,.pe-dark-tone.test-theme-svg-2.pe-svg svg,.pe-dark-tone .test-theme-svg-2.pe-svg svg {
  color: inherit
}

.pe-dark-tone.test-theme-svg-2.pe-svg svg circle:not([fill=none]),.pe-dark-tone .test-theme-svg-2.pe-svg svg circle:not([fill=none]),.pe-dark-tone.test-theme-svg-2.pe-svg svg path:not([fill=none]),.pe-dark-tone .test-theme-svg-2.pe-svg svg path:not([fill=none]),.pe-dark-tone.test-theme-svg-2.pe-svg svg polygon:not([fill=none]),.pe-dark-tone .test-theme-svg-2.pe-svg svg polygon:not([fill=none]),.pe-dark-tone.test-theme-svg-2.pe-svg svg rect:not([fill=none]),.pe-dark-tone .test-theme-svg-2.pe-svg svg rect:not([fill=none]) {
  fill: red
}

.pe-light-tone.test-theme-svg-2.pe-svg,.pe-light-tone .test-theme-svg-2.pe-svg,.pe-light-tone.test-theme-svg-2.pe-svg svg,.pe-light-tone .test-theme-svg-2.pe-svg svg,.test-theme-svg-2.pe-svg,.test-theme-svg-2.pe-svg svg {
  color: inherit
}

.pe-light-tone.test-theme-svg-2.pe-svg svg circle:not([fill=none]),.pe-light-tone .test-theme-svg-2.pe-svg svg circle:not([fill=none]),.pe-light-tone.test-theme-svg-2.pe-svg svg path:not([fill=none]),.pe-light-tone .test-theme-svg-2.pe-svg svg path:not([fill=none]),.pe-light-tone.test-theme-svg-2.pe-svg svg polygon:not([fill=none]),.pe-light-tone .test-theme-svg-2.pe-svg svg polygon:not([fill=none]),.pe-light-tone.test-theme-svg-2.pe-svg svg rect:not([fill=none]),.pe-light-tone .test-theme-svg-2.pe-svg svg rect:not([fill=none]),.test-theme-svg-2.pe-svg svg circle:not([fill=none]),.test-theme-svg-2.pe-svg svg path:not([fill=none]),.test-theme-svg-2.pe-svg svg polygon:not([fill=none]),.test-theme-svg-2.pe-svg svg rect:not([fill=none]) {
  fill: green
}
/*# sourceMappingURL=test-beautify.css.map */