@import "../../components/layout/layout";
@import "../css/demo";

body.demo-header-panel .container {
	float: left;
	width: 300px;
	height: 400px;
	margin: 10px;
}

body.demo-header-panel .header-panel {
	height: 100%;
}

body.demo-header-panel .header-panel[mode=cover] .mainContainer {
	left: 70px;
}

body.demo-header-panel .header-panel .header {
	height: 64px;
	line-height: 64px;
	font-size: 18px;
	padding: 0 10px;
	background-color: #4F7DC9;
	color: #FFF;
	transition: height 0.2s;
}

body.demo-header-panel .header-panel .header.tall {
	height: 180px;
}

body.demo-header-panel .header-panel .header.medium-tall {
	height: 120px;
}

body.demo-header-panel .header-panel .content {
	padding: 10px;
	height: 2000px;
	background: linear-gradient(rgb(214, 227, 231), lightblue);
}

body.demo-header-panel .flex-container {
	height: 300px;
}