html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.flex-container {
    height: 100%;
}
.header-panel {
    .toolbar {
        background-color: #B0BEC5;
        &.medium-tall {
            height: 120px;
        }
    }
    .title {
        font-size: 24px;
    }
}
.demo1 .header-panel .title {
    font-size: 36px;
    color: #fff;
}
.header-panel .demo-content {
    padding: 16px 16px 36px 16px;
    max-width: 600px;
    margin: 0 auto;
    + .demo-content {
        margin-top: -36px;
    }
}
.demo3 .header-panel {
    .header, .toolbar {
        transition: height 0.35s;
        -webkit-transition: height 0.35s;
    }
}
.demo6 .toolbar.tall {
    height: 256px;
}
.background1 {
    .toolbar {
        .title {
            color: #fff;
        }
        background-color: transparent;
    }
    .headerBg {
        background-image: url(../images/bg2.jpg);
        background-color: #222;
    }
}
.background2 {
    .headerContainer {
        background-color: #B71C1C;
        /* deep red */
    }
    .toolbar {
        background-color: transparent;
        .title {
            color: #fff;
        }
    }
    .headerBg {
        background-image: url(../images/bg2.jpg);
    }
}
.background3 {
    .toolbar.tall {
        height: 256px;
    }
    .headerContainer {
        background-color: #673ab7;
        /* purple */
    }
    .toolbar {
        background-color: transparent;
        .title {
            color: #fff;
        }
    }
    .headerBg {
        background-image: url(../images/bg1.jpg);
    }
}
.background4 {
    .toolbar.tall {
        height: 256px;
    }
    .headerContainer {
        background-color: #673ab7;
        /* purple */
    }
    .condensedHeaderBg {
        background-color: #f4b400;
    }
    .toolbar {
        background-color: transparent;
        .title {
            color: #fff;
        }
    }
    .headerBg {
        background-image: url(../images/bg1.jpg);
    }
    .condensedHeaderBg {
        background-image: url(../images/bg2.jpg);
    }
    .image-dimmer {
        box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.6);
    }
}