.kitchensink {
    .panel-row {
        margin-left: -20px;
    }
    .container {
        width: 300px;
        height: 400px;
        margin: 0 0 20px 20px;
    }
    .header-panel {
        height: 100%;
        &[mode=cover] .mainContainer {
            left: 70px;
        }
        .header {
            height: 48px;
            line-height: 48px;
            font-size: 18px;
            padding: 0 16px;
            background-color: #2196F3;
            color: #FFF;
            transition: height 0.25s;
            -webkit-transition: height 0.25s;
        }
        .toolbar {
            transition: height 0.25s;
            -webkit-transition: height 0.25s;
        }
    }
    .mainContainer .header-panel .toolbar {
        font-size: 18px;
        background-color: #2196F3;
        color: #fff;
    }
    .header-panel {
        .header {
            &.tall {
                height: 180px;
            }
            &.medium-tall {
                height: 120px;
            }
        }
        .demo-content {
            padding: 16px;
            height: auto;
            max-width: 700px;
            background-color: #eee;
            p {
                margin: 0 0 1em 0;
            }
        }
    }
    .header.demo-header {
        height: 64px;
        line-height: 64px;
        font-size: 18px;
        padding: 0 24px;
        background-color: #E91E63;
        color: #FFF;
        text-align: center;
    }
    .header-panel.animated {
        .header, .toolbar {
            background-color: #9C27B0;
        }
    }
    .p-block .toolbar {
        margin: 0;
    }
}