html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;	
}

.flex-container {
	height: 100%;
}

.header-panel .toolbar {
	background-color: #B0BEC5;
}

.header-panel .toolbar.medium-tall {
	height: 120px;
}

.header-panel .title {
	font-size: 24px;
}

.demo1 .header-panel .title {
	font-size: 36px;
	color: #fff;
}

.header-panel .content {
	padding: 16px 36px 36px 72px;
}
.header-panel .content + .content {
	margin-top: -36px;
}

.demo3 .header-panel .header,
.demo3 .header-panel .toolbar {
	transition: height 0.35s;
	-webkit-transition: height 0.35s;
}

.demo6 .toolbar.tall {
	height: 256px;
}

.background1 .toolbar .title {
	color: #fff;
}
.background1 .toolbar {
	background-color: transparent;
}
.background1 .headerBg {
	background-image: url(images/bg3.jpg);
	background-color: #222;
}

.background2 .headerContainer {
	background-color: #B71C1C; /* deep red */
}
.background2 .toolbar {
	background-color: transparent;
}
.background2 .toolbar .title {
	color: #fff;
}
.background2 .headerBg {
	background-image: url(images/bg3.jpg);
}

.background3 .toolbar.tall {
	height: 256px;
}
.background3 .headerContainer {
	background-color: #673ab7; /* purple */
}
.background3 .toolbar {
	background-color: transparent;
}
.background3 .toolbar .title {
	color: #fff;
}
.background3 .headerBg {
	background-image: url(images/bg1.jpg);
}

.background4 .toolbar.tall {
	height: 256px;
}
.background4 .headerContainer {
	background-color: #673ab7; /* purple */
}
.background4 .condensedHeaderBg {
	background-color: #f4b400;
}
.background4 .toolbar {
	background-color: transparent;
}
.background4 .toolbar .title {
	color: #fff;
}
.background4 .headerBg {
	background-image: url(images/bg2.jpg);
}
.background4 .condensedHeaderBg {
	background-image: url(images/bg1.jpg);
}
