body {
	margin: 0;
	padding: 0;
}

.container {
	float: left;
	width: 300px;
	height: 400px;
	margin: 10px;
}
.flex-container {
	height: 200px;
	margin: 0 0 10px 0;
}

.header-panel {
	height: 100%;
}

.header-panel[mode=cover] .mainContainer {
	left: 70px;
}

.header-panel .header {
	height: 64px;
	line-height: 64px;
	font-size: 21px;
	padding: 0 10px;
	background-color: #4F7DC9;
	color: #FFF;
}

.header-panel .header,
.header-panel .toolbar {
	transition: height 0.2s;
}

.header-panel .header.tall {
	height: 180px;
}

.header-panel .header.medium-tall {
	height: 120px;
}

.header-panel .content {
	padding: 10px;
	height: 2000px;
	background: linear-gradient(rgb(214, 227, 231), lightblue);
}

.demo-header {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	padding: 0 10px;
	background-color: #E91E63;
	color: #FFF;
}
