html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;	
}

.flex-container {
	height: 100%;
}

.header-panel .header {
	height: 64px;
	line-height: 64px;
	padding: 0 10px;
	background-color: #ddd;
}

.header-panel {
	background: #F5F5F5;
}

.header-panel .toolbar.medium-tall {
	height: 120px;
}

.header-panel .toolbar {
	background: #3F51B5;
	color: #fff;
}

.header-panel .title {
	font-size: 24px;
}

.demo1 .header-panel .title {
	font-size: 36px;
	color: #fff;
}

.header-panel .content {
	padding: 16px 36px 36px 72px;
}
.header-panel .content + .content {
	margin-top: -36px;
}

.demo3 .header-panel .header,
.demo3 .header-panel .toolbar {
	transition: height 0.35s;
	-webkit-transition: height 0.35s;
}

.demo6 .toolbar.tall {
	height: 256px;
}

.header-panel.animate .toolbar {
	background-color: #9C27B0;
}

.header-panel.noReveal .toolbar {
	background-color: #FFC107;
}

.header-panel.keepCondensed .toolbar {
	background-color: #F44336;
}


