.card, .fab {
    display: inline-block;
    position: relative;
    background: #FFC400;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 20px 50px 50px 0;
    line-height: 100px;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card {
    border-radius: 2px;
}
.fab {
    border-radius: 50%;
    text-align: center;
}
.card[animated], .fab[animated] {
    cursor: pointer;
}
.card [self-center], .fab [self-center] {
	width: 100%;
	pointer-events: none;
}