@import url("http://fonts.googleapis.com/css?family=Inconsolata");

$_main_side_padding: 80px;
$_main_background_color: #f3f3f5;
$_side_color: #00C853;
$_drawer_color: #263238;
$_drawer_highlight_color: #00C853;
$_main_header_background_color: #00E676;
$_body_background_color: #37474F;
$_link_color: #00C853;
$_link_hover_color: #009C3F;
$_light_border: #eee;
$_header_font_size: 20px;
$_logo_color: rgba(0,0,0,.87);

html, body {
    height: 100%;
}

body {
    font-family: 'RobotoDraft', arial, sans-serif;
    background: $_body_background_color;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    min-width: 320px;
}
.scaffold {
    height: 100%;
}
.drawer {
    background: $_drawer_color;
    position: relative;
    color: rgba(255,255,255,.7);
    height: 100%;

    .toolbar {
        background: none;
    }

    .topBar {
        padding: 0 12px;
        color: #fff;

        .title {
            color: $_logo_color;
        }
    }

    .headerContainer {
        background-color: $_side_color;
    }
    
    .highlight .list-tile-title,
    .list-tile a:hover {
        color: $_drawer_highlight_color;
    }
}

.main {
    height: 100%;
    min-height: 100%;
    background: $_main_background_color;

    a {
        color: $_link_color;
        text-decoration: none;
        font-weight: 500;

        &:hover {
            color: $_link_hover_color;
        }
    }

    .toolbar {
        background: none;
    }
    .headerContainer {
        background-color: $_main_header_background_color;
    }

    .card  {
        background-color: #fff;
        margin: 24px 0 48px 0;
        width: 320px;

        &:hover {
            background-color: #f7f7f7;
        }

        .button .button-content {
            color: $_link_color;
        }
        .button:hover .button-content {
            color: $_link_hover_color;
        }
    }

    .btn-demo {
        display: none;
        /*
        background: $_button_color;
        color: rgba(0,0,0,.7);
        padding: 6px 8px;
        display: inline-block;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        border-radius: 3px;
        font-weight: 400;
        line-height: 1;

        &:hover {
            background: $_button_color_highlight;
        }
        */
    }
    code, pre {
        font-family: 'Inconsolata', courier, monospace;
    }

    h1:first-of-type {
        display: none;
    }
    h1,
    h2,
    h3 {
        font-weight: 400;
    }
    h2, h3 {
        margin: 35px 0 15px 0;
    }
    pre,
    blockquote {
        padding: 16px;
        background: #fff;
        overflow-x: scroll;
        margin: 1em 0;
    }
    blockquote {
        font-style: italic;

        p {
            margin: 0;
        }
    }
    table {
        border-collapse: collapse;
        background-color: #fff;

        tr {
            border-bottom: 1px solid $_light_border;
        }
        tbody tr:last-child {
            border: none;
        }
        th, td {
            padding: 8px 16px;
            border: none;
            vertical-align: top;
        }
        td:last-child {
            width: 40%;
        }

        th,
        th strong {
            font-weight: normal;
            color: #aaa;
            text-align: left;
        }
        td strong {
            color: #E65100;
            font-weight: normal;
        }
    }
}

.footer {
    margin: 40px 16px 16px 16px;
    font-size: 13px;
    color: #999;

    a {
        color: #ddd;
        text-decoration: none;
    }
}

@media (max-width: 640px) {
    $_main_side_padding: 24px;

    .scaffold {
        flex: none !important;
        -webkit-flex: none !important;
        display: block !important;
        position: static !important;
        height: auto;
    }

    .drawer,
    .main {
        .header-panel {
            height: auto;

            .mainContainer,
            .outerContainer {
                position: static;
                display: block !important;
                overflow-y: visible;
                overflow-x: visible;
            }

            .mainContainer[flex] {
                flex: none;
                -webkit-flex: none;
            }
        }
    }

    .drawer {
        width: 100%;
        .logo {
            display: none;
        }
    }

    .main {
        width: 100%;

        .topBar {
            font-size: $_header_font_size;
            padding: 0 ($_main_side_padding - 4);
        }
        pre {
            padding: 10px;
        }

        table {
            width: 100%;

            th, td {
                padding: 4px 8px;
            }
            thead {
                th {
                    display: block;
                    width: 100%;
                }
            }
            tbody {
                td,
                td:last-child {
                    display: block;
                    width: 100%;
                }
                td:empty {
                    &:before {
                        content: '-';
                        height: 20px;
                        color: #aaa;
                    }   
                }
            }
        }

        .doc-content {
            padding: 16px $_main_side_padding;
        }
    }
}

@media (min-width: 640px) and (max-width: 960px) {
    $_main_side_padding: 40px;

    .drawer {
        width: 240px;
    }

    .main {
        .topBar {
            font-size: $_header_font_size;
            padding: 0 ($_main_side_padding - 4);
        }

        table {
            width: 100%;

            th, td {
                padding: 4px 8px;
            }
            thead {
                th {
                    display: block;
                    width: 100%;
                }
            }
            tbody {
                td,
                td:last-child {
                    display: block;
                    width: 100%;
                }
                td:empty {
                    &:before {
                        content: '-';
                        height: 20px;
                        color: #aaa;
                    }   
                }
            }
        }

        .doc-content {
            padding: 16px $_main_side_padding;
        }
    }
}

@media (min-width: 960px) {
    $_main_side_padding: 96px;

    .drawer {
        min-width: 240px;

        .topBar {
            font-size: $_header_font_size;
            line-height: $_header_font_size;
        }

        .logo {
            width: 40px;
            height: 40px;
        }

    }
    .main {
        .topBar {
            font-size: $_header_font_size;
            padding: 0 ($_main_side_padding - 4);
        }
        .doc-content {
            padding: 16px $_main_side_padding;
        }
    }
}

