.module-list {
    .p-block {
        background: none;
        max-width: 320px;
        margin: 0 auto;
    }
    .demo-list {
        width: 100%;
        background-color: #fff;
    }
    .dark-theme .demo-list.list {
        background-color: #1A237E;
    }
    .sortable-list {
        a {
            cursor: pointer;
        }
        .controls-row {
            padding: 0 16px;
            border-bottom: 1px solid #eee;
        }
        .controls {
            margin-left: -8px;
            margin-right: -8px;
        }
    }
}