.demo-dialog {

	.dialog-content {
		max-width: 56px * 8;
	}
	p {
		margin: 0;
	}
	.dialog-footer {
		.button:not([disabled]) {
			color: #009688;
		}
		.button.disabled {
			color: #ccc;
		}
	}

	&.dark-theme {
		.dialog-content {
			background-color: #222;
		}
	}

	.toolbar {
		background-color: #009688;
		color: #fff;	
	}
	&.fullscreen {
		.header-panel .mainContainer {
			padding: 24px;
		}
	}
}

.module-dialog {
	.p-block {
		.button {
			margin-left: 0;
		}
	}
}