.demo-content {
    height: 100%;
    padding: 0;
    background: #fff;
}

.before,
.after {
	font-size: 14px;
	padding: 16px 24px;
	margin: 0 0 16px 0;
	background-color: #eee;
}
.before {
	margin: 0 0 14px 0;
}
.after {
	margin: 8px 0 16px 0;
}