@import "../app/variables";

.header-panel.index-header {
    $_size: 32px;

    .headerContainer:first-of-type .title {
        font-size: $_size;
        color: #fff;
        text-align: center;
    }
    .icon.logo {
        width: $_size;
        height: $_size;
        margin-right: 16px;
        svg path {
            fill: #fff;
        }
    }
}

@media (max-width: $media_tablet) {
    .header-panel.index-header .headerContainer:first-of-type .title {
        font-size: 24px;
        line-height: 36px;
        margin-left: 16px;
    }
}