.header-panel.index-header .toolbar:first-of-type .title {
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.header-panel.index-header .icon.logo {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.header-panel.index-header .icon.logo svg path {
    fill: #fff;
}