.header-panel.index-header .toolbar:first-of-type {
    font-size: 24px;
}
.header-panel.index-header .icon.logo {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}
.header-panel.index-header .icon.logo svg path {
    fill: #fff;
}